@import "tailwindcss";
@plugin "daisyui";
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .card {
    background-size: 200% 200%;
    animation: gradientShift 5s ease infinite;
  }